<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Bookstore - Book List</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  {% include 'navbar.html' %}

  <h2>Log In</h2>
<div class="container">
  <h1 style="text-align: center;">Login</h1>
  <form method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-success">Log In</button>
  {{ form }}
</form>
  <button class="btn btn-secondary"><a href="/register">Create account</a></button>

</div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
